[submodule "vacapp_web"]
	path = vacapp_web
	url = https://github.com/joseilagosb/vacapp_web.git
[submodule "vacapp_backend"]
	path = vacapp_backend
	url = https://github.com/joseilagosb/vacapp_backend.git
